@import "./palette";

:export {
  primaryLight: $primary-light;
  primaryMain: $primary-main;
  primaryDark: $primary-dark;
  primaryContrastText: $primary-contrastText;
  secondaryLight: $secondary-light;
  secondaryMain: $secondary-main;
  secondaryDark: $secondary-dark;
  secondaryContrastText: $secondary-contrastText;
  errorLight: $error-light;
  errorMain: $error-main;
  errorDark: $error-dark;
  errorContrastText: $error-contrastText;
  successLight: $success-light;
  successMain: $success-main;
  successDark: $success-dark;
  successContrastText: $success-contrastText;
}
