$primary-light: #d87aff;
$primary-main: #cf59ff;
$primary-dark: #903eb2;
$primary-contrastText: #ffffff;

$secondary-light: #33cbb7;
$secondary-main: #00bfa5;
$secondary-dark: #008573;
$secondary-contrastText: #000000;

$error-light: #e57373;
$error-main: #f44336;
$error-dark: #d32f2f;
$error-contrastText: #ffffff;

$success-light: #81c784;
$success-main: #4caf50;
$success-dark: #388e3c;
$success-contrastText: rgba(0, 0, 0, 0.87);
